.idea/

/vendor
/.vagrant
/.env
/.env.testing
/composer.phar
/storage/*.key
/public/hot
/public/storage
/node_modules
/docker/logs/*
/docker/mysql/*
/docker/redis/*
/dump.sql

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

buyee
/buyee
apollo_shopping

.php_cs.cache
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper*.php

auth.json
